#!/usr/bin/env bash

# Check if AWS CLI is installed
if ! command -v aws --version &> /dev/null; then
    echo "AWS CLI is not installed. Installing it now..."
    brew install awscli
else
    echo "AWS CLI is already installed."
fi

# Check if session-manager-plugin is installed
if ! command -v session-manager-plugin --version &> /dev/null; then
    echo "session-manager-plugin is not installed. Installing it now..."
    brew install --cask session-manager-plugin
else
    echo "session-manager-plugin is already installed."
fi
