#!/usr/bin/env bash

# Check if AWS CLI is installed
if ! command -v aws --version &> /dev/null; then
    echo "AWS CLI is not installed. Installing it now..."
    brew install awscli
else
    echo "AWS CLI is already installed."
fi

# Check if session-manager-plugin is installed
if ! command -v session-manager-plugin --version &> /dev/null; then
    echo "session-manager-plugin is not installed. Installing it now..."
    brew install --cask session-manager-plugin
else
    echo "session-manager-plugin is already installed."
fi

# Check if kubectl is installed
if ! command -v kubectl --version &> /dev/null; then
    echo "kubectl is not installed. Installing it now..."
    brew install kubectl
else
    echo "kubectl is already installed."
fi

# Check if jq is installed
if ! command -v jq --version &> /dev/null; then
    echo "jq is not installed. Installing it now..."
    brew install jq
else
    echo "jq is already installed."
fi

# Check if tfstate s3 bucket exists, if not create it
BUCKET="terraform-state-bucket-2727"
REGION="us-east-1"

if ! aws s3api head-bucket --bucket "$BUCKET" --region "$REGION" > /dev/null 2>&1; then
  echo "Creating S3 bucket: $BUCKET"
  if [ "$REGION" = "us-east-1" ]; then
    aws s3api create-bucket \
      --bucket "$BUCKET" \
      --region "$REGION" \
      --create-bucket-configuration LocationConstraint="$REGION" \
      > /dev/null
  else
    aws s3api create-bucket \
      --bucket "$BUCKET" \
      --region "$REGION" \
      --create-bucket-configuration LocationConstraint="$REGION" \
      > /dev/null
  fi
fi
